.note {
  position: absolute;
  left: 30px;
  top: 350px;
  padding: 20px;
  width: 200px;
  height: 200px;
  background-image: url('../../assets/note.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: grab;

  &__text {
    overflow-y: auto;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
    scrollbar-color: rgba(113, 113, 114, 0.356) transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border: 1px solid #eee;
      border-radius: 20px;
      background-color: rgba(113, 113, 114, 0.356);
    }
  }

  &__close {
    position: absolute;
    right: -2px;
    top: 2px;
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}
